* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Playfair Display", serif;
    background: #bc9d90;
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: transparent;
  }
  .logo {
    font-size: 1.8rem;
    color: #fbf5f5;
    text-decoration: none;
    font-weight: bold;
  }
  .header-right a {
    color: #fbf5f5;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
  }
  .header-right a:hover {
    background-color: rgb(255, 255, 255);
    color: #9e6f6f;
    border-radius: 4px;
    padding: 0.5rem;
  }
  
  /* HERO (Full Screen & Centered) */
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4cfcf;
  }
  .title-content {
    background-color: rgba(137, 94, 94, 0.4);
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 8px;
    margin: 0 auto;
  }
  .title-content h1 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  
  .project-section {
    max-width: 1200px;
    margin: 3em auto;
    padding: 1rem;
    text-align: center;
  }
  .project-section h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .project-card {
    background-color: #e4cfcf;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    width: 220px; 
    transition: transform 0.5s ease;
    text-decoration: none;
  }
  .project-card:hover {
    transform: scale(1.15, 1.15);
  }
  .project-card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .project-card h3 {
    margin: 2em;
    font-size: 20px;
    color: #ffffff;
  }
  
  footer {
    background-color: #bc9d90;
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
 
    @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-content h1 {
      font-size: 1.8rem;
    }
    .header-right a {
      font-size: 0.9rem;
    }
    .product-card {
      width: 180px; /* narrower on smaller screens */
    }
  }
  