
body{
    display: grid;
    align-items: start;
    justify-content: center;
    padding: 4em;
    margin: 4em;
    background-color: black;
    font-family: 'Formula1', sans-serif;
}



.main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 140px);
    gap: 15px;
}

h1{
    grid-column: 3 / 6;
    grid-row: 1;
    margin-top: -20%;
    font-size: 20px;
    color: teal;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

h2{
    grid-column: 3 / 6;
    grid-row: 1;
    font-size: 20px;
    color: grey;
    text-align: right;
    text-transform: uppercase;
}

.text-1{
    grid-column: 1 / 6;
    grid-row: 2;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}


.text-2{
    grid-column: 1 / 6;
    grid-row: 3;
    color: teal;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
}

.text-3{
    grid-column: 1 / 6;
    grid-row: 4;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: right;
    line-height: 40px;
}


.text-4{
    grid-column: 1 / 6;
    grid-row: 5;
    color: teal;
    font-size: 25px;
    text-align: right;
    line-height: 40px;
    font-weight: bold;
}

.text-5{
    grid-column: 1 / 6;
    grid-row: 6;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    line-height: 40px;
}


.text-6{
    grid-column: 1 / 6;
    grid-row: 7;
    color: teal;
    font-size: 25px;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
}


@media screen and (min-width: 900px) {
    body{
    padding-right: 10em;
    padding-left: 10em;
    margin-right: 10em;
    margin-left: 10em;
    }

    h1{
        margin-top: -10%;
    }
}

.reading-progress-bar-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: black;
    z-index: 999;
}

.reading-progress-bar {
    height: 20px;
    background-color:teal;
    animation-name: width;
    animation-timeline: scroll(y);
}

@keyframes width {
    from { width: 0 }
    to { width: 100% }
}


.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: teal;
    color: teal;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
    display: grid;
    grid-column: 6;
    grid-row: 8;
  }
  .dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: teal;
    color: teal;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }

  .dot-link {
    display: inline-block; /* Ensures the link wraps the dot */
    text-decoration: none; /* Removes default underline */
}
  
  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }


  @font-face {
    font-family: 'Formula1', sans-serif;
    src: url('/fonts/Formula1-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }