 /* main */

html {
	background: #efeae6;
	margin: 3em;
	font-family: "Playfair Display", serif;
  text-decoration: none;
}
  

h1{
    position: relative;
    color: #AE8381;
    text-align: center;
    font-size: 90pt;
    letter-spacing: 0.1cm;
}

h2{
	font-size: 50px;
  text-align: center;
  color: #ae9081;
}

h3{
  font-size: 30px;
}

a{
	color: white;
}

 /* header */

 .header {
    overflow: hidden;
    background-color: transparent;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: #AE8381;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: white;
    color: #AE8381;
  }
  
  .header-right {
    float: right;
  }
  

  

.section-1{
  box-sizing: 2em;
  height: 400px;
  background-color: rgb(169, 120, 88);
  justify-content: center;
  align-items: center;
}

/*button*/

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #AE8381;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgb(208, 157, 155)
}
